
PorfaAntonioNoCorrijasHoy/.vs/P4/v16/.suo

*.lock

*.ide

*.ide-shm

*.ide-wal

*.xbf

PorfaAntonioNoCorrijasHoy/P4/bin/x64/Debug/AppX/AppxManifest.xml

*.exe

*.appxrecipe

PorfaAntonioNoCorrijasHoy/P4/bin/x64/Debug/AppxManifest.xml

PorfaAntonioNoCorrijasHoy/P4/bin/x64/Debug/Core/AppxManifest.xml

*.pdb

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/App.g.cs

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/App.g.i.cs

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/MainPage.g.cs

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/MainPage.g.i.cs

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/P4.csproj.CoreCompileInputs.cache

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/P4.csproj.FileListAbsolute.txt

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/P4.csprojAssemblyReference.cache

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/ProjectArchitectures.txt

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/ResourceHandlingTask.state

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/resources.en-us.resfiles

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/resources.en-us.resfiles.intermediate

PorfaAntonioNoCorrijasHoy/P4/obj/x64/Debug/XamlSaveStateFile.xml

*.cache

*.json

*.props

*.targets

*.force

PorfaAntonioNoCorrijasHoy/P4/bin/ARM/Debug/AppxManifest.xml

PorfaAntonioNoCorrijasHoy/P4/bin/ARM/Debug/Core/AppxManifest.xml

PorfaAntonioNoCorrijasHoy/P4/bin/ARM/Debug/P4.xr.xml

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/App.g.cs

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/MainPage.g.cs

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/MainPage.g.i.cs

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/P4.csproj.FileListAbsolute.txt

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/P4.xr.xml

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/ProjectArchitectures.txt

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/ResourceHandlingTask.state

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/resources.en-us.resfiles

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/resources.en-us.resfiles.intermediate

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/XamlSaveStateFile.xml

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/XamlTypeInfo.g.cs

PorfaAntonioNoCorrijasHoy/P4/obj/ARM/Debug/XamlTypeInfo.g.cs.backup
